@charset "utf-8";
/* CSS Document */


	/*background-color: rgba(244,240,240,1);  #F4F0F0; ---背景底色*/
	/*background-color: rgba(239,174,162,1);  #EFAEA2; ---重點粉紅色*/
	/*background-color: rgba(,,,1);  #91BAB1; ---粉綠色*/

	

	/*margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;*/

	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/



/*---視差捲動基本設定---*/

.parallax {
    height: 100vh;
    overflow-x: hidden; /*水平方向不要超出*/
    overflow-y: auto; /*垂直方向有很多個section就用捲軸捲動*/

	/*設定透視點，讓後面的section產生3D視差效果*/
    -webkit-perspective: 1px;
    perspective: 1px;


	/*保險起見把變形原點和透視原點設定一樣*/
    -webkit-perspective-origin-x: 50%; 
    perspective-origin-x: 50%;
}


section{
	position: relative;
	height: 100vh;
	width: 100%;

	/*讓裡面的物件有3D變型*/
    -webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.parallax_layer { /*置中*/
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	/*保險起見把變形原點和透視原點設定一樣*/
	-webkit-transform-origin-x: 50%;
	transform-origin-x: 50%;
}



/*---視差捲動  不同Z層次設定---*/

.parallax_layer0 {
	/*拉層次和z-index*/
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);

    z-index: 5;
}
.parallax_layer-1 {
	-webkit-transform: translateZ(-1px) scale(2);
	transform: translateZ(-1px) scale(2);

	z-index: 4;
}
.parallax_layer-2 {
	-webkit-transform: translateZ(-2px) scale(3);
	transform: translateZ(-2px) scale(3);

	z-index: 3;
}

.parallax_layer03 {
	-webkit-transform: translateZ(0.3px) scale(0.7);
	transform: translateZ(0.3px) scale(0.7);

	z-index: 7;
}

.parallax_layer05 {
	-webkit-transform: translateZ(0.5px) scale(0.5);
	transform: translateZ(0.5px) scale(0.5);

	z-index: 8;
}

.parallax_layer07 {
	-webkit-transform: translateZ(0.7px) scale(0.3);
	transform: translateZ(0.7px) scale(0.3);

	z-index: 9;
}



/*---各個section背景設定---*/

.section01{
	background: url(..//images/logo_ani/BG.png) no-repeat;
	background-size: 1580px;
	background-position: 50% 50%;
}


.section02{
	/*background: url(..//images/logo_ani/BG.png) no-repeat;
	background-size: 1280px;
	background-position: 50% 50%;*/
}



/*---section01---*/

/*繩子*/
.logo_leaves{
	
} 

/*木板logo大小的漸變範圍*/
.circle_logo img{
	width: 45%;
	max-width: 700px;
	min-width: 600px;

	/*置中*/
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}







/*____________________________________________________________________________*/

/*==========平板版本==========*/

@media screen and (max-width: 1080px) {/*IPAD尺寸*/

/*木板logo大小的漸變範圍*/
	.circle_logo img{
		width: 90%;
		max-width: 600px;
		min-width: 0px;
	}
	
}

/*____________________________________________________________________________*/

/*==========手機版本==========*/

@media screen and (max-width: 760px) {
	


}


