@charset "utf-8";



/*---中央logo區域---*/

.logo{
	position: absolute; /*從位置列抽起來讓nav疊在下面*/
	margin: auto;
	left: 0;
	right: 0;
	z-index: 20;

	width: 280px;
	height: 120px;  
}


/*=======================================*/


/*---nav選單列---*/

nav ul{
	width: 100%;
	height: 120px;

	font-size: 0; /*讓選單的li之間不要有縫隙*/
	text-align: center; /*讓li置中*/
}


nav ul li{ /*洞要挖固定大小140*120，因為要用sprite去換圖*/
	position: relative;
	width: 140px;
	height: 120px;
	display: inline-block;
	
	/*按鈕的sprite背景*/
	background-image: url(../images/header/header_nav.svg);
	background-size: 560px 360px; 
	/*要設定原始整張圖的大小*/ 
}

/*每個鈕的位置分別下*/
li.icon_aboutus{
	margin-right: 3%;
	background-position: 0px 0px;
}
li.icon_aboutus:hover{
	background-position: 0px -120px;
}

li.icon_product{
	margin-right: 150px; /*中央logo的寬度一半*/
	background-position: -140px 0px;
}
li.icon_product:hover{
	background-position: -140px -120px;
}

li.icon_custom{
	margin-left: 150px; /*中央logo的寬度一半*/
	background-position: -280px 0px;
}
li.icon_custom:hover{
	background-position: -280px -120px;
}

li.icon_inspire{
	margin-left: 3%;
	background-position: -420px 0px;
}
li.icon_inspire:hover{
	background-position: -420px -120px;
}



/*here的class掛到當前頁面li標籤裡*/
li.here{
	background-position-y: -240px; /*當前頁面用紅字，y軸設定-240px*/
}

/*當前頁面的左右兩條直線*/
li.here:before, li.here:after{
	content:'';
	position: absolute;
	background-color: rgba(239,174,162,1);
	width: 1px;
	height: 16px;

	/*上下置中*/
	margin: auto;
	top: 0;
	bottom: 0;
}
li.here:before{ 
	left: 0px;
}
li.here:after{
	right: 0px;
}



/*hover前的左右兩條直線先不出現*/
nav ul li:before, nav ul li:after{
	content:'';
	position: absolute;
	background-color: rgba(239,174,162,0); /*透明度先設定0*/
	width: 1px;
	height: 16px;

	/*上下置中*/
	margin: auto;
	top: 0;
	bottom: 0;

	transition:.5s; 
}
nav ul li:before{ 
	left: 0px;
}
nav ul li:after{
	right: 0px;
}
/*hover後的左右兩條線出現的動畫*/
nav ul li:hover:before, nav ul li:hover:after{
	background-color: rgba(239,174,162,1); /*透明度設定1出現*/
	width: 2px;
	height: 16px;
}
nav ul li:hover:before{ 
	left: 15px;
}
nav ul li:hover:after{
	right: 15px;
}



/*---nav選單列的link範圍---*/

nav ul li a{ /*感應區域開跟li一樣大*/
	position: relative; /*給before的background依附*/
	width: 100%;
	height: 100%;
	display: block;	 
}

/*當前頁面掛上葉子裝飾*/
li.here a:before, li.here a:after{
	content:'';
	position: absolute; /*定位在a的後面*/
	width: 200px;
	height: 120px;
	left: -30px;
	top:35px;
	background: url(../images/header/header_leaves.svg) no-repeat;
	background-size: cover; /*填滿前面設定的寬高*/
}


/*=======================================*/


/*---右邊icons---*/
.cart_icon, .member_icon, .totop_icon{
	position: fixed; /*fixed在右邊*/
	z-index: 10;
	
	/*垂直置中*/
	margin: auto;
	top: 0; 
	bottom: 0;

	width: 50px;
	height: 50px;
	right: 15px; 

	/*icon的sprite背景*/
	background-image: url(../images/header/header_icon.svg);
	background-size: 400px 50px;
	/*要設定原始整張圖的大小*/ 

	transition: 1s;
}



.cart_icon{
	background-position: -300px 0px; 
}
.member_icon{
	top: -150px; /*置中再上移*/
	background-position: -200px 0px; 
}
.totop_icon{
	opacity: 0.5;
	/*icon的sprite背景*/
	background-image: url(../images/header/header_icon.svg),
					  url(../images/header/header_icon_totop.svg);
	background-size:  400px 50px,
					  50px 100px;
	top: 150px; /*置中再下移*/
	background-position: -100px 0px ,
						    0px 0px ; 
}
.cart_icon:hover{
	right: 30px; 
}
.member_icon:hover{
	right: 30px; 
}
.totop_icon:hover{
	background-position: -100px 0px ,
						  0px -50px; 
}

/*icon後面的標籤*/
.cart_icon:before, .member_icon:before{
	content: '';
	position: absolute;
	
	left: -10px;
	width: 250px;
	height: 50px;
	background-color: rgba(239,174,162,.5); 

	transition: .5s;
}
.cart_icon:after, .member_icon:after{
	content: '';
	position: absolute;
	
	right: 60px;
	border-style: solid;
	border-width: 25px 25px;
	border-color: transparent rgba(239,174,162,.5) transparent transparent;  

	transition: .5s;
}

.cart_icon:hover:before, .member_icon:hover:before{
	left: -20px;
}
.cart_icon:hover:after, .member_icon:hover:after{
	right: 70px;
}






/*____________________________________________________________________________*/

/*---調整平板版和手機版的banner---*/


/*==========平板版本==========*/

@media screen and (max-width: 1080px) {/*IPAD尺寸*/

/*---banner調成fixed---*/
.banner{
	position: fixed;
	z-index: 10; /*層次拉上來到最上面*/
	width: 100%;
	height: 120px;

	transition: 1s; 
}
/*banner fixed的樣式*/
.banner2{
	background-color: rgba(244,240,240,	.8);
}



/*---中央logo區域---*/

.logo{
	top: 8px;
	transform: scale(0.8); 
	transition: 2s;
}
/*sidebar點擊後的樣式*/
.logo2{
	left: -50%;
}



/*---三明治選單---*/

/*三明治按鈕出現*/
.sandwich{
	position: absolute; /*fixed在banner*/

	width: 50px;
	height: 50px;
	top: 35px; /*置中於header（120/2-50/2）*/
	left: 35px; /*和上面一樣35px*/

	/*icon的sprite背景*/
	background-image: url(../images/header/header_icon.svg);
	background-size: 400px 50px; 
	background-position: 0px 0px; 
	/*要設定原始整張圖的大小*/ 
}



/*---nav移到三明治選單---*/

nav{
	position: fixed; /*釘在100%的wrap上面*/
	z-index: 9; /*層次在漢堡選單下面*/

	width: 50%;
	height: 100%;

	background-color: #fff;

	box-shadow: 0 0 50px 5px #888;
	overflow: hidden;

	left: -55%; /*先收起來*/
	transition: 2s;
}



nav ul{
	position: absolute;
	top: 120px;
	height:auto;
}

nav ul li{ 
	display: block; /*讓鈕一列一列分開*/
} 

/*每個鈕都把margin關掉，變置中*/
li.icon_aboutus, li.icon_product, li.icon_custom, li.icon_inspire{
	margin: auto;
}

/*葉子的裝飾*/
li.here a:before, li.here a:after{
	width: 200px;
	height: 120px;
}

li.here a:before{ /*左邊的葉子*/
	left: -150px;
	top:-25px;
	transform: rotate(-10deg);
}

li.here a:after{ /*右邊的葉子*/
	left: 90px;
	top:25px;
	transform: rotate(170deg);
}



/*---fixed選單出現後畫面的暗幕---*/

.fixed_shadowbg{
	position: fixed;
	z-index: 8;
	width: 100%;
	height: 100%;

	background-color: rgba(0,0,0,.2);
	left: -100%; /*先收起來*/
	transition-delay: 1.2s;
}

/*sandwich點擊後從左邊出現*/
.leftshow{ 
	left: 0; 
	transition-delay: 0s;
}



/*---右上角icons---*/
.cart_icon, .member_icon, .totop_icon{
	position: absolute; /*fixed在banner*/

	margin: 0; /*關掉垂直置中*/
	top: 35px; 

	transition: 0s;
}


.cart_icon{
	right: 35px; 
	opacity: 0.5;
}
.member_icon{
	right: 85px;
	opacity: 0.5;
}
.totop_icon{
	transition: 1s;
	right: 135px;
}
.cart_icon:hover{
	right: 35px;
	background-position: -350px 0px; 
}
.member_icon:hover{
	right: 85px;
	background-position: -250px 0px; 
}
.totop_icon:hover{
	right: 135px;
}

/*平板把before和after關掉*/
.cart_icon:before, .member_icon:before, .totop_icon:before{
	height: 0;
}
.cart_icon::after, .member_icon::after, .totop_icon::after{
	border-width: 0;  
}






} /*平板版本結束*/


/*____________________________________________________________________________*/

/*==========手機版本==========*/

@media screen and (max-width: 760px) {

/*---banner調成fixed---*/
.banner{
	z-index: 10; /*層次拉上來到最上面*/
	height: 95px;
	top: -25px; /*top上移多少，height就要少多少*/
}
/*banner fixed的樣式*/
.banner2{
	background-color: rgba(244,240,240,.8);
}
/*sidebar點擊後的樣式*/
.banner3{
	background-color: rgba(244,240,240,0);
}


/*---中央logo區域---*/

.logo{
	transform: scale(0.6); 
	transition: 2s;
	left: -50%;
	right: -70px;
}
/*sidebar點擊後的樣式*/
.logo2{
	right: 0px;
}



/*---三明治選單---*/

/*三明治按鈕位置*/
.sandwich{
	transform: scale(0.8) translateX(-33px) ; 
	transition: 2s; 
}
/*三明治按鈕動畫*/
.sandwich2{
	transform: translateX(-58px) ;
}


/*---nav裡的鈕移上去一點---*/

nav ul{
	top: 85px;
}


/*---右上角icons---*/
.cart_icon{
 	transform: scale(0.8) translateX(33px) ;  /*跟三明治選單位置一樣高*/
}
.member_icon{
 	transform: scale(0.8) translateX(43px) ;  /*跟三明治選單位置一樣高*/
}
.totop_icon{
 	transform: scale(0.8) translateX(53px) ;  /*跟三明治選單位置一樣高*/
}
		


} /*手機版本結束*/











