@charset "utf-8";
/* CSS Document */


	/*background-color: rgba(244,240,240,1);  #F4F0F0; ---背景底色*/
	/*background-color: rgba(239,174,162,1);  #EFAEA2; ---重點粉紅色*/
	/*background-color: rgba(,,,1);  #91BAB1; ---粉綠色*/

	

	/*margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;*/

	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/


/*---區塊基本設定---*/
.product_logo, .productclass_intro, .product_item, .productclass_secondnav{
	position: relative;

	margin: auto;
	left: 0;
	right: 0;

}



/*---三大分類LOGO區---*/
.product_logo{
	width: 95%;
	height: 90px;
	padding: 25px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*logo的外框*/
.product_logo div{
	position: relative;
	width: 16%;
	height: 100%;

	float: right;
	margin: 0 1% 0 0 ;

	transition: 0s;
	z-index: 5;
}
.product_logo div.this_productclass{
	position: absolute;
	float: left;
	top: 15px;

	width: 30%;
	height: 150%;

	transition: 1s;	
}


/*logo前圖*/
.product_logo div img{
	width: 100%;
	opacity: 1;
}
/*logo後圖*/
.product_logo div img.productclass_logo{
	position: absolute;
	width: 100%;
	top: 0;
	opacity: 0;
}


/*hover木板圖出現*/
.product_logo div:hover img.productclass_logo{
	opacity: 1;
}

/*當前頁面的logo放大，黑白的透明度調掉*/
.product_logo div.this_productclass img{
	opacity: 0;
}
.product_logo div.this_productclass img.productclass_logo{
	opacity: 1;
}





/*---各分類介紹板---*/
.productclass_intro{
	width: 96%;
	height: 350px;
	padding: 100px 5% 0 30%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}


/*紙張*/
.productclass_intro img{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0px;
	left: 0px;
}


.productclass_intro_content{
	position: relative;
	height: 70%;
	width: 100%;

	overflow: hidden; /*讓文字不要跑出去*/
}

.productclass_intro_content p{
	color:#999;
	font-size: 20px;
	line-height: 36px;

	font-family: 'IM Fell English SC', 正黑體;
}

.productclass_intro_content p + p{
	font-size: 18px;
	line-height: 26px;
}





/*---分類下的第二選單icons---*/
.productclass_secondnav{
	width: 90%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/*包住icons的兩排*/
.productclass_secondnav div{
	width: 100%;
	text-align: center;
}


/*icons*/
.productclass_secondnav div div{
	position: relative;
	display: inline-block;

	width: 50px;
	height: 50px;
	margin: 2%; 

	border-radius: 50%;
	border: 1px solid #ccc;

	transition: 0.5s;
	background-size: 400px 100px;

	transform: scale(1.5);
	z-index: 5;
}

/*hover用after暗幕蓋住*/
.productclass_secondnav div div:after{
	font-size: 12px;
	color: rgba(255,255,255,0); /*一開始字就在，顏色先關掉，hover才不會是糊掉*/
	line-height: 50px;

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: rgba(102,102,102,0);

	transition: 0.5s;
}
.productclass_secondnav div div:hover:after{
	background: rgba(102,102,102,0.8);
	color: rgba(255,255,255,1);
}



/*每個icons的sprite位置*/
.animalicon01_owl{
	background: url(../images/product/animal_icons.svg) no-repeat 0 0;
}
.productclass_secondnav div div.animalicon01_owl:after{
	content: "貓頭鷹";
}

.animalicon02_fox{
	background: url(../images/product/animal_icons.svg) no-repeat -50px 0;
}
.productclass_secondnav div div.animalicon02_fox:after{
	content: "狐狸";
}

.animalicon03_rabbit{
	background: url(../images/product/animal_icons.svg) no-repeat -100px 0;
}
.productclass_secondnav div div.animalicon03_rabbit:after{
	content: "兔子";
}

.animalicon04_lion{
	background: url(../images/product/animal_icons.svg) no-repeat -150px 0;
}
.productclass_secondnav div div.animalicon04_lion:after{
	content: "獅子";
}

.animalicon05_deer{
	background: url(../images/product/animal_icons.svg) no-repeat -200px 0;
}
.productclass_secondnav div div.animalicon05_deer:after{
	content: "鹿";
}

.animalicon06_eagle{
	background: url(../images/product/animal_icons.svg) no-repeat -250px 0;
}
.productclass_secondnav div div.animalicon06_eagle:after{
	content: "老鷹";
}

.animalicon07_cat{
	background: url(../images/product/animal_icons.svg) no-repeat -300px 0;
}
.productclass_secondnav div div.animalicon07_cat:after{
	content: "貓咪";
}

.animalicon08_bird{
	background: url(../images/product/animal_icons.svg) no-repeat -350px 0;
}
.productclass_secondnav div div.animalicon08_bird:after{
	content: "鳥兒";
}

.animalicon09_wolf{
	background: url(../images/product/animal_icons.svg) no-repeat 0 -50px;
}
.productclass_secondnav div div.animalicon09_wolf:after{
	content: "狼";
}

.animalicon10_monkey{
	background: url(../images/product/animal_icons.svg) no-repeat -50px -50px;
}
.productclass_secondnav div div.animalicon10_monkey:after{
	content: "猴子";
}

.animalicon11_bee{
	background: url(../images/product/animal_icons.svg) no-repeat -100px -50px;
}
.productclass_secondnav div div.animalicon11_bee:after{
	content: "蜜蜂";
}

.animalicon12_squirrel{
	background: url(../images/product/animal_icons.svg) no-repeat -150px -50px;
}
.productclass_secondnav div div.animalicon12_squirrel:after{
	content: "松鼠";
}

.animalicon13_dog{
	background: url(../images/product/animal_icons.svg) no-repeat -200px -50px;
}
.productclass_secondnav div div.animalicon13_dog:after{
	content: "狗";
}

.animalicon14_porcupine{
	background: url(../images/product/animal_icons.svg) no-repeat -250px -50px;
}
.productclass_secondnav div div.animalicon14_porcupine:after{
	content: "刺蝟";
}

.animalicon15_parrot{
	background: url(../images/product/animal_icons.svg) no-repeat -300px -50px;
}
.productclass_secondnav div div.animalicon15_parrot:after{
	content: "鸚鵡";
}

.animalicon16_elephant{
	background: url(../images/product/animal_icons.svg) no-repeat -350px -50px;
}
.productclass_secondnav div div.animalicon16_elephant:after{
	content: "象";
}



/*click該動物後*/
/*按鈕變色*/
.productclass_secondnav div div.this_animalicon:after{
	background: #91BAB1; 
	color: rgba(255,255,255,1);
}

/*下面大圖*/
.this_animalicon_large div{
	position: absolute;
	width: 50px;
	height: 50px;
	right: 60px;
	top: 10px;

	transition: 0.5s;
	background-size: 400px 100px;
	transform: scale(5);

	-webkit-clip-path: circle(24px at center); /*遮色片*/
}


/*動物名稱title*/
.this_animalname{
	position: relative;
	height: 100px;
	width: 100%;
	padding: 50px 175px 0 0; 

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.this_animalname div{
	text-align: right;
	
	font-size: 60px;
	color: #aaa;
	font-family: 'IM Fell English SC', serif;
}




/*---篩選過後的產品陳列區---*/
.product_item{
	position: relative;
	width: 90%;
	height: 2000px;
}

.product_item:before{
	content: "";
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 100px;

	width: 95%;
	height: 1px;
	background-color: #ccc;
}




/*____________________________________________________________________________*/

/*==========平板版本==========*/

@media screen and (max-width: 1080px) {/*IPAD尺寸*/

	
	
}

/*____________________________________________________________________________*/

/*==========手機版本==========*/

@media screen and (max-width: 760px) {
	


}


