@charset "utf-8";
/* CSS Document */



	/*background-color:  ---背景底色*/
	/*background-color:  ---重點色*/
	/*background-color:  ---輔助色*/

	

	/*margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;*/

	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/

*{
	font-family: sans-serif, 微軟正黑體, 黑體;
}


section{
	position: relative;
	height: 100vh;
}

.section02{
	background-color: rgba(108,151,158,0.95);
}

.full-video{
	position: fixed;
	width: 100%;
}


.pawee_title{
	/*置於影片之上 置中*/
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	width: 600px;
	height: 150px;
	
	background-repeat: no-repeat;
	background-size:100% 100%;
	background-position: 0 0;
	background-image: url(../images/section01/PAWEE_01.svg);
}
	@keyframes pawees{
		  0%{background-position: -25px 0;
		  	 opacity: 0;}
		100%{background-position: 0 0;
			 opacity: 1;}
	}

	.pawee_p{
		background-image: url(../images/section01/PAWEE_P.svg);
		animation: pawees 0.5s 0s linear 1 backwards ;
	}
	.pawee_a{
		background-image: url(../images/section01/PAWEE_A.svg);
		animation: pawees 0.5s 0.2s linear 1 backwards ;
	}
	.pawee_w{
		background-image: url(../images/section01/PAWEE_W.svg);
		animation: pawees 0.5s 0.4s linear 1 backwards ;
	}
	.pawee_e{
		background-image: url(../images/section01/PAWEE_E.svg);
		animation: pawees 0.5s 0.6s linear 1 backwards ;
	}
	.pawee_ee{
		background-image: url(../images/section01/PAWEE_EE.svg);
		animation: pawees 0.5s 0.8s linear 1 backwards ;
	}
	.pawee_s{
		background-image: url(../images/section01/PAWEE_S.svg);
		animation: pawees 0.5s 1s linear 1 backwards ;
	}



/*____________________________________________________________________________*/

/*==========平板版本==========*/

@media screen and (max-width: 1080px) {/*IPAD尺寸*/


	
}

/*____________________________________________________________________________*/

/*==========手機版本==========*/

@media screen and (max-width: 768px) {

.pawee_title{
	width: 80%;
	height: 20vw;
}



}


