@charset "utf-8";
/* CSS Document */


@import url(reset.css);

@import url(index.css);

	

	/*margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;*/

	/*-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;*/

*{
	font-family: sans-serif, 微軟正黑體, 黑體;
}

body{
	background-color: rgba(244,240,240,1);
}



.wrap{
	/*置中*/
	position: relative;
	width: 100%; 
}



header, content, footer{
	/*置中*/
	display: block;
	margin: auto;
	left: 0;
	right: 0;

	position: relative;
}



header{
	position: fixed;
	top: 0;
	z-index: 1;
}

.banner{
	transition: 0.5s; 
}
	.banner2{
		/*background: rgba(255,255,255,0.2);*/
		background: rgba(136,136,136,0.8);
	}



.logo img{
	margin: 20px 0 20px 20px;
	width: auto;
	height: 60px;
}



nav ul{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	right: 20px;

	text-align: right;
}

nav ul li{
	display: inline-block;
	height: 100%;

	vertical-align: top;
	text-align: center;

	padding:0 15px; 
}
	


nav ul li a{
	position: relative;

	text-decoration: none;
	color: #fff;
	font-size: 18px;
	letter-spacing: 2px;

	line-height: 100px;
	font-family: 'Cuprum', sans-serif;

	transition:0.2s; 
}
	nav ul li.here a{
		color: #FEE68C;
	}
	nav ul li a:hover{
		color: #faa;
	}

	nav ul li.here a:before{
		content: "";
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;

		bottom: -50px;
		border-radius: 50%;

		width: 22px;
		height: 22px;
		background-color: rgba(96, 185, 237, 1.00);
	}
	nav ul li.here a:after{
		content: "";
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;

		bottom: -34px;

		width: 0px;
		height: 0px;

		border-width: 0 10px 15px 10px;
		border-style: solid;
		border-color: #FEE68C transparent;
	}




/*____________________________________________________________________________*/

/*==========平板版本==========*/

@media screen and (max-width: 1080px) {/*IPAD尺寸*/

.sandwichclick{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 23px;

	width: 50px;
	height: 50px;
}

.sandwich{
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	
	width: 40px;
	height: 5px;
	background-color: rgba(255,255,255,1);

	border-radius: 10px;
	transition: 0.5s;
}
.sandwich:before,.sandwich:after{
	content: "";

	position: absolute;
	top: -13px;
	width: 40px;
	height: 5px;
	background-color: rgba(255,255,255,1);

	border-radius: 10px;
	transition: 0.5s;
}
.sandwich:after{
	top: 13px;
}

	.sandwich2{
		background-color: rgba(255,255,255,0);
	}
	.sandwich2:before{	
	top: 0px;
	transform:rotate(-45deg);
	transform-origin: center;
	}
	.sandwich2:after{
	top: 0px;
	transform:rotate(45deg); 
	transform-origin: center;
	}



nav ul{
	background: rgba(255,255,255,0.98);

	position: fixed;
	top: 100px;
	right: -100%;
	
	opacity: 0.75;
	transition: 1s;
}
	.navshow ul{
		right: 0;
		opacity: 1;
	}

nav ul li{
	display: block;
	height: 80px;
}

nav ul li a{
	color: #888;
	font-size: 22px;
	line-height: 150px;
}
	nav ul li.here a{
		color: rgba(98, 153, 159, 1.00);
	}
	nav ul li.here a:before{
		bottom: -31px;
		background-color: rgba(251, 222, 128, 1.00);
	}
	nav ul li.here a:after{
		bottom: -15px;
		border-color: rgba(98, 153, 159, 1.00) transparent;
	}

	


	
}

/*____________________________________________________________________________*/

/*==========手機版本==========*/

@media screen and (max-width: 768px) {

.sandwichclick{
	right: 10px;

	width: 40px;
	height: 40px;
}

.sandwich{
	width: 30px;
	height: 4px;
}
.sandwich:before,.sandwich:after{
	top: -10px;
	width: 30px;
	height: 4px;
}
.sandwich:after{
	top: 10px;
}

	.sandwich2:before,.sandwich2:after{	
	top: 0px;
	}
	


.logo img{
	margin: 10px 0 10px 10px;
	height: 50px;
}

nav ul{
	top: 70px;	
}
	
nav ul li{
	height: 70px;
}

nav ul li a{
	font-size: 20px;
	line-height: 130px;
}



}


